
<div class="colorFondo">
    <!-- Card -->
<div class="card card-cascade wider reverse colorFondo">

    <div class="container1">

        <!-- SECCION CABECERA-->
        <section class="header-section">
      
          <div class="center-div">
            <h1 class="font-weight-bold text-dark sombra">Nuestros Inicios - 1993</h1>
            <!-- <p class="text-dark p-3">Dimos comienzo a la construcci&oacute;n de nuestra galeria comercial allá por marzo de 1993.</p> -->
      
            </div>
      
        </section>
    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">
        
        <div class="row mt-2 ">
            <div class="col-12">
                <h3 class="mt-2" [@enterState]="state"><strong>NUESTRA HISTORIA</strong></h3>
                <!-- Subtitle -->
           
                <!-- Text -->
                <p [@enterState]="state" class="card-text p-2 h4 ml-2 mr-2">A la vera del auge de modernidad de los progresistas años '90 nace GALERÍA JUJUY, proyecto de los Arquitectos R. Jimenez Rafuls, J. y M. Solari Viglieno, R. Candia, A. Facchini y J. Oudkerk; organizado y ejecutado por Candia & Cía. Formalmente inaugurada el 25 de marzo de 1996 en homenaje a la Patria y constituyéndose como el primer Centro Comercial bajo techo de la Ciudad de Jujuy y que desde ese entonces marcó un sello "jujeño prro" al centro.</p>
        
                   <p [@enterState]="state" class="card-text p-2 h4 ml-2 mr-2"> Murales del artista Julio Vanzo a lo largo de su recorrido la llevaron a ser "la Galería de Vanzo", la obra "El Arado" en la escalera principal del Hall Central le dio vida a nuestro logo distintivo y un guiño artístico a la esencia fútbolera de la ciudad engalanan las escaleras secundarias que casualmente se ubican una enfrentada de la otra.</p>
                    
                 <p [@enterState]="state" class="card-text p-2 h4 ml-2 mr-2 mb-4">   Declarada en 1992 edificio de valor Patrimonial de la Ciudad mantiene a lo largo del tiempo, con permanentes actualizaciones acordes a la demanda de las épocas, su presencia con una oferta Comercial variada y sostenida, siempre con la presencia de comerciantes y empresas 100% jujeñas, siendo su serena presencia la que la caracterizó como "LA GALERÍA" de la ciudad.
                </p>
            </div>
        </div>
        <!-- Title -->
        
    
        <div class="row mt-4 ">
            <div class="colorFondo col-12 col-md-4 card opacidad border-0 mb-3 justify-content-center" [@scrollAnimation]="state">
                <img src="https://galeriarosario.com.ar/_files/200000359-d7d51d7d53/450/recorrido%20galeria%20ingreso.jpg" alt="imagen nosotros"   class="img-fluid m-auto" width="85%">
            </div>

            <div class="colorFondo col-12 col-md-4 card opacidad border-0 mb-3" [@scrollAnimation]="state">
                <img src="https://galeriarosario.com.ar/_files/200000357-c50f8c50fa/450/Galeria%20Gondolas%20centrales.jpg" alt="imagen nosotros"  class="img-fluid m-auto" width="85%">
            </div>

            <div class="colorFondo col-12 col-md-4 card opacidad border-0 mb-3" [@scrollAnimation]="state">
                <img src="https://galeriarosario.com.ar/_files/200000353-0315f03161/450/Galeria%20Rosario%20Gondolas.jpg" alt="imagen nosotros" class="img-fluid m-auto" width="85%">
            </div>

            <div class="colorFondo col-12 col-md-4 card opacidad border-0 mb-3" [@scrollAnimation]="state">
                <img src="https://galeriarosario.com.ar/_files/200000353-0315f03161/450/Galeria%20Rosario%20Gondolas.jpg" alt="imagen nosotros" class="img-fluid m-auto" width="85%">
            </div>

            <div class="colorFondo col-12 col-md-4 card opacidad border-0 mb-3"  [@scrollAnimation]="state">
                <img src="https://galeriarosario.com.ar/_files/200000356-4147a4147d/450/Galeria%20Gondola%20Ingreso%20San%20Martin.jpg" alt="imagen nosotros " class="img-fluid m-auto" width="85%">
            </div>

            <div class="colorFondo col-12 col-md-4 card opacidad border-0 mb-3" [@scrollAnimation]="state">
                <img  src="https://galeriarosario.com.ar/_files/200000358-577b7577b9/450/Hall%20central%20Galeria%20Rosario.jpg" alt="imagen nosotros" class="img-fluid m-auto" width="85%">
            </div>
        </div>


        <div class="row mt-2 " @enterState>
            <div class="col-12">
                <h3 class="mt-2" [@enterState]="state"><strong>ARTE EN LAS GALERÍAS</strong></h3>
                <!-- Subtitle -->
           
                <!-- Text -->
                <p  [@enterState]="state" class="card-text p-2 h4 ml-2 mr-2">Arte en Galerías nace de la necesidad de acercar, democratizar el arte, liberarlo de los contextos tradicionales y llevarlo a los paseos comerciales donde la accesibilidad espontánea, transforma estos lugares en Galerías de Arte al paso, proponiendo una revitalización de los entornos urbanos para difundir y potenciar la práctica artística de la región, generando un recorrido iconográfico en el casco histórico de la ciudad, energizándolo través del Arte, creando en el inconsciente colectivo rosarino la instauración de la obra de arte, como algo natural, casi imprescindible para el paisaje urbano de los ciudadanos, que inmersos en la rutina, cruzan continuamente por allí. Resignificando y generando en estos lugares su puesta en valor, enriqueciendo la vida cotidiana de los jujeños.</p>
        
                   <p [@enterState]="state" class="card-text p-2 h4 ml-2 mr-2"> Desde 2015 Galería JUJUY expuso las primeras muestras de arte y ha sido líder y precursora de esta iniciativa de acercar e insertar en lo cotidiano, la producción artística de los rosarinos generando espacios participativos, educativos y culturales difusores del arte y al alcance de todos. </p>
                    
            
            </div>
        </div>

    </div>

</div>
<!-- Card -->

</div>

